/* Estilos para o relógio digital */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.relogio {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.display {
    height: auto;
    text-align: center;
    font-size: 10rem;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
    .container {
        display: block;
    }

    .container {
        display: block;
        max-width: 90%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container{
        display: block;
        max-width: 90%;
    }


}

@media screen and (min-width:1024px ){

    
}